@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

body {
  font-family: "Zalando Sans", sans-serif;
}

.landing-bg {
  background-size: cover;
  background-image: url(https://res.cloudinary.com/dumqqvruw/image/upload/v1759937650/Image-min_gqk7rc.png);
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.15);
  /* lighter transparency for depth */
  border-radius: 16px;
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.4),
    0 4px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.glass-effect:hover {
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    0 8px 40px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.glass-effect-1 {
  border-radius: 13px;
  background: linear-gradient(145deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.05));
}

/* globals.css */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-animated {
  background: linear-gradient(90deg, #ff5f6d, #ffc371, #06b6d4, #3b82f6);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradientShift 3s ease infinite;
}

/* hide scroll bar  */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

}

/* end hide scroll bar */